*{
  box-sizing: border-box;
}

body{
  background: url("");
  -webkit-background-size: cover;
  background-size: cover;
}

.wrap{
  width: 35vw;
  background-color: #CECDCC;
  padding: 1vw;
  height: 70%;
  -webkit-box-shadow: 10px 15px 10px 1px #393C40;
  box-shadow: 10px 15px 10px 1px #393C40;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  position: absolute;
  left: 32.5%;
  top: 12.5%;
}

#buttons{
  width: 31.25vw;
  height: 41.25vh;
  background-color: #616464;
  padding-top: 0.25vw;
  margin: 0 auto;
}

button{
  font-size: 3vh;
  width: 4vw;
  height: 10vh;
  background-color: #B2B3B4;
  -webkit-box-shadow: 5px 5px 10px 1px #616464;
  box-shadow: 5px 5px 10px 1px #616464;
  margin: 0.015vw;
}

hr {
  border:2px solid #000;
  margin-bottom:30px;
  width: 100%;
}

#display{
  width: 32vw;
  height: 50px;
  font-size: 4.5vh;
  margin-bottom: 25px;
  background-color: #71A933;
  color: #100E10;
  border: 3px solid rgba(0, 0, 0, 0.5);
  padding-left: 1vw;
  letter-spacing: 0.25vw;
}

.first-col{
  width: 13.25vw;
  height: 40.85vh;
  float: left;
  margin-left: 0.25vw
}

.second-col{
  width: 3.75vw;
  height: 40.85vh;
  float: left;
}

.third-col{
  width: 14vw;
  height: 40.85vh;
  float: left;
}

#operatorButtons button{
  display: block;
  font-size: 3vh;
  width: 3vw;
  height: 7.75vh;
  background-color: #88739F;
  margin-bottom: 0.175vw;
}

#functionButtons button{
  display: block;
  width: 13.5vw;
  height: 10vh;
  font-size: 2.44vh;
  background-color: #9FCCB4;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: 100;
  margin: 0.015vw;
}